html {

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clear{
    line-height:0;
    clear:both;
}

ul.pagination {
  display: inline-block;

}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  margin-right:3px;
  text-decoration: none;
  background-color:#bbf1bb;
  color:black;
  cursor:pointer;
}

.pagination li.active {
  background-color:green;
  color:blue;
  color:white;
}


.centered {
   text-align: center;
   font-size: 0;
   margin:0;

}

.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
   margin-bottom:20px;
}



.page-container {
  position: relative;
  min-height: 100vh;
  padding:0;
  margin:0;
}

.content-wrap {
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align:center;
  background-color: #0000c0;
  color:white;
  text-align:center;
}